body {
  background-color: #2b2b2b;
  color: rgb(38, 219, 222);
}

h1 {
  text-align: center;
}

.app-container {
  background-color: #15151575;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  /* margin: 20px; */
  position: relative;
  margin: 0 auto;
}

th.text-end {
  text-align: right;
}

.table {
  position: relative;
  margin: 0 auto;
}

.app-table,
td {
  padding-right: 20px;
  padding-bottom: 5px;
}
/* .borderless td,
.borderless th {
  border: none;
} */
